body, html {
  background: #eee;
  padding-bottom: 300px;
  font-family: Arial, sans-serif;
  transform-style: flat; }

input[type="button"] {
  width: 24%;
  display: inline-block;
  height: 3em;
  background: transparent;
  color: #fff;
  border: 0;
  margin: 0;
  border-right: 1px #fff solid;
  border-radius: 0; }
  input[type="button"].floor {
    width: 32%; }
  input[type="button"].selection {
    width: 32%; }

.navmap {
  width: 10vw;
  height: 50vw;
  border: 1px white solid;
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 1vw;
  top: 1vw;
  z-index: 2000;
  transform: translate3d(0, 0, 100vw);
  opacity: 0.4; }
  .navmap__position {
    width: 100%;
    height: 10vh;
    background: #fff;
    position: absolute;
    top: 0;
    pointer-events: none; }

#container {
  position: relative;
  z-index: 300;
  perspective: 500px;
  transform-style: preserve-3d;
  height: 500vw; }

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  background-color: black;
  margin: 0;
  text-align: center;
  transform-style: flat;
  transform: translate3d(0, 0, 100vw);
  box-shadow: #555 0 0 8px; }

.floorDisplay {
  position: fixed;
  right: 1vw;
  top: 1vw;
  z-index: 400;
  font-size: 5em; }

.fixtureGroup {
  z-index: 500;
  width: 20vw;
  position: absolute;
  transition: all 100ms;
  margin-bottom: 20vw; }

.group {
  background-color: cyan;
  width: 100%;
  height: 5vw; }

.fixture {
  background-color: white;
  width: 100%;
  height: 10vw;
  box-shadow: #eee 0 0 20px inset;
  transition: all 100ms; }
  .fixture.selected {
    box-shadow: cyan 0 0 20px inset;
    transition: all 100ms; }

.strip {
  width: 10vw; }
  .strip .fixture {
    height: 15vw; }
  .strip.turn .fixture {
    height: 10vw;
    border-radius: 100% 0 0; }

.circle .fixture {
  height: 20vw;
  border-radius: 100%; }
.circle.large .fixture {
  height: 30vw;
  width: 30vw; }
.circle.cutout .fixture:after {
  content: ' ';
  width: 15vw;
  height: 50%;
  position: absolute;
  top: 0;
  left: 15vw;
  background: #eee;
  border-bottom-left-radius: 1vw; }

.side {
  width: 5vw; }
  .side .fixture {
    height: 15vw; }

.column {
  width: 20vw; }
  .column .fixture {
    height: 15vw; }

.elevator .fixture {
  width: 20vw;
  height: 20vw; }

input[type='range'] {
  -webkit-appearance: none;
  width: 200px; }

.dimmer-button {
  display: inline-block;
  width: 5%;
  height: 3em;
  background: #fff;
  margin: 0;
  padding: 0;
  margin-bottom: -5px; }

.dimmer {
  border-top: 5px white solid;
  border-bottom: 5px white solid; }

#dimmer {
  width: 90%; }

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #CCC;
  height: 80px;
  vertical-align: middle;
  border: none;
  cursor: pointer; }

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #037cd5;
  height: 80px;
  width: 22px;
  vertical-align: middle;
  border: none;
  cursor: pointer; }

input[type='range']::-webkit-slider-thumb:hover {
  background: #fdd921; }

input[type='range']:active::-webkit-slider-thumb {
  background: #fdd921; }

/*# sourceMappingURL=overview.css.map */
